<html>
<head>
    <title>Cleaner for Client Form</title>
</head>
<body>

<h2>Cleaner for Client Form</h2>

<form method="get" id="cleanerForm" action="">
    <label for="client">Client:</label>
    <select name="client" id="client" required>
        {% for client in clients %}
            <option value="{{ client.id }}">{{ client.first_name }} {{ client.last_name }}</option>
        {% endfor %}
    </select>
    <br>

    <label for="work_day">Day of Week:</label>
    <select name="work_day" id="work_day" required>
        <option value="1">Monday</option>
        <option value="2">Tuesday</option>
        <option value="3">Wednesday</option>
        <option value="4">Thursday</option>
        <option value="5">Friday</option>
        <option value="6">Saturday</option>
        <option value="7">Sunday</option>
    </select>
    <br>

    <input type="submit" value="Get Cleaner">
</form>

<script>
    document.getElementById("cleanerForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent the form from submitting
        const clientId = document.getElementById("client").value;
        const workDay = document.getElementById("work_day").value;
        const url = `/hotel/cleaner_info/${clientId}/${workDay}/`;
        window.location.href = url;
    });
</script>

</body>
</html>
