<h2>Clients in Same Days Form</h2>

<form method="get" id="clientsInSameDaysForm" action="">
    <label for="client">Client:</label>
    <select name="client" id="client" required>
        {% for client in clients %}
            <option value="{{ client.id }}">{{ client.first_name }} {{ client.last_name }}</option>
        {% endfor %}
    </select>
    <br>

    <label for="check_in_date">Check-in Date:</label>
    <input type="date" name="check_in_date" id="check_in_date" required>
    <br>

    <label for="check_out_date">Check-out Date:</label>
    <input type="date" name="check_out_date" id="check_out_date" required>
    <br>

    <input type="button" value="Get Clients" onclick="submitForm()">
</form>

<script>
    function submitForm() {
        const clientId = document.getElementById("client").value;
        const checkInDate = document.getElementById("check_in_date").value;
        const checkOutDate = document.getElementById("check_out_date").value;
        const url = `/hotel/clients_in_same_days/${clientId}/${checkInDate}/${checkOutDate}/`;
        window.location.href = url;
    }
</script>
